<%= simple_form_for(@problem_category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :problem, value_method: :id, :as => :hidden, :input_html => {:value =>(@problem.id) }, include_blank: false %>    
    <%= f.association :category , label_method: :category , value_method: :id , include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
