<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problem_category.problem_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @problem_category.category_id %>
</p>

<%= link_to 'Edit', edit_problem_category_path(@problem_category) %> |
<%= link_to 'Back', problem_categories_path %>
