<%= simple_form_for @problem, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => 'Problem Title'%>
    <%= f.input :timeLimit, :label => 'Time Limit' %>
    <%= f.input :sourceLimit, :label => 'Source Limit' %>
    <%= f.input :dateAdded, :as => :hidden, :input_html => {:value => Time.now.to_date} %>
    <%= f.input :problem_statement, :label => 'Problem Statement' %>
    <h3>Solutionss</h3>
    <%= f.file_field :solution_file, :label => 'Upload solution file'%>
    <%= f.file_field :test_file, :label => 'Upload test file'%>
    <%= f.association :user, :as=>:hidden,:input_html=> { :value => current_user.id} %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
