<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>
<div class="table-responsive">
	<thead>  
  <tr>  
    <!-- <th>ID</th> -->
    <th>Title</th>  
    <th>Time Limit</th>  
    <th>Date Added</th>  
  </tr>  
</thead>  
<tbody>
    <% .each do |problem| %> 
    <tr>  
      <!-- <th>problem.id</th> -->
      <td><%= link_to(problem.title, problem) %></td>   
      <td><%= problem.timeLimit%></td> 
      <!-- <td><%= problem.dateAdded.strftime("%B %e, %Y") %></td>    -->
      <td><%= problem.dateAdded %></td>
    </tr>
  <% end %>
  </tbody>  
</table>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
